@{
    ViewData["Title"] = "Contato";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <style>
    .back_contato {
      content: "";
      background: #040404 url("../images/back_contato.jpg") top center no-repeat !important;
      background-size: cover;
    }
    .img_centro_contato {
      width: 287px;
      height: 287px;
      box-shadow: 2px 0 8px 0 rgb(128 128 128);
      background-image: url(images/757311b…_1280.png);
      background-position: 50% 50%;
      margin: 32px auto 0;
      border-radius: 50% !important;
    }
  </style>

  <title>Document</title>
</head>
<body>
   <div class="text-center back_contato">

      <div class="container p-3">
          <img src="../images/centro_contato.png" alt="" class="img_centro_contato";>

        <div>
          <h1 class="m-4" >Mulher Presente</h1>
          <h3>A Mulher Presente é uma instituição sem fins lucrativos que vai ajudar você mulher a viver o melhor espetáculo da sua vida ao se encontrar com a liberdade de se expressar.</h3>
          <p>Encontre seu RISO bata na PORTA e deixe ele ENTRAR</p>
          <button type="button" class="btn btn-outline-light btn-lg" > <a href="https://docs.google.com/forms/d/e/1FAIpQLSe5E42dlwr2VSMRlux_9lELehvgcJdLML8Ps6jAGVLvFerKCw/viewform?usp=pp_url">Fale conosco</a> </button>
        </div>

        <div class="social-links d-flex justify-content-center">
          <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        </div>

      </div>
  
  </div>


</body>
</html>

 
