@{
    ViewData["Title"] = "Contato";
}

<div class="text-center back_contato">
    
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS arquivos -->
  <link rel="stylesheet" href="~/scripts/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/scripts/icofont/icofont.min.css">
  <link rel="stylesheet" href="~/scripts/remixicon/remixicon.css">
  <link rel="stylesheet" href="~/scripts/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="~/scripts/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="~/scripts/venobox/venobox.css">

  <!-- Template principal CSS  -->
  <link href="~/css/style.css" rel="stylesheet">
  <style>
    .back_contato {
      content: "";
      background: #040404 url("../images/back_contato.jpg") top center no-repeat !important;
      background-size: cover;
    }
    .img_centro_contato {
      width: 287px;
      height: 287px;
      box-shadow: 2px 0 8px 0 rgb(128 128 128);
      background-image: url(images/757311b…_1280.png);
      background-position: 50% 50%;
      margin: 32px auto 0;
      border-radius: 50% !important;
    }
  </style>

    <header id="header" class="header-tops ">
    <div class="container">

      <img src="../images/centro_contato.png" alt="" class="img_centro_contato";>
      <div>
      <h1 class="m-4" >Mulher Presente</h1>
        <h3>A Mulher Presente é uma instituição sem fins lucrativos que vai ajudar você mulher a viver o melhor espetáculo da sua vida ao se encontrar com a liberdade de se expressar.</h3>
        <p>Encontre seu RISO bata na PORTA e deixe ele ENTRAR</p>
        <button type="button" class="btn btn-outline-light btn-lg">Fale Conosco</button>
      </div>

      <div class="social-links d-flex justify-content-center">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      </div>

    </div>
  </header><!-- fim Header -->
  

  <script src="~/scripts/jquery/jquery.min.js"></script>
  <script src="~/scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/scripts/jquery.easing/jquery.easing.min.js"></script>
  <script src="~/scripts/waypoints/jquery.waypoints.min.js"></script>
  <script src="~/scripts/counterup/counterup.min.js"></script>
  <script src="~/scripts/owl.carousel/owl.carousel.min.js"></script>
  <script src="~/scripts/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/scripts/venobox/venobox.min.js"></script>

  <!-- Template  JS arquivos -->
  <script src="~/js/main.js"></script>
</div>
</html>