@{
    ViewData["Title"] = "Contato";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/scripts/icofont/icofont.min.css">
  <link rel="stylesheet" href="~/scripts/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="~/scripts/remixicon/remixicon.css">

   <style>
    .back_contato {
      content: "";
      background: #040404 url("../images/back_contato.jpg") top center no-repeat !important;
      background-size: cover;
    }
    .container {
      max-width: 1310px;
    }
    .img_centro_contato {
      width: 287px;
      height: 287px;
      box-shadow: 2px 0 8px 0 rgb(128 128 128);
      background-image: url(images/757311b…_1280.png);
      background-position: 50% 50%;
      margin: 32px auto 0;
      border-radius: 50% !important;
    }
  </style>

  <title>Document</title>
</head>
<body>
  <div class="text-center back_contato">

    <div class="container p-3 containerImg">
      <img src="../images/centro_contato.png" alt="" class="img_centro_contato h-100";>

      <div class="container px-5">
        <h1 class="m-4 display-1 font-weight-bold" >Mulher Presente</h1>
        <hr class="text-white">
        <h6 class="px-5">A Mulher Presente é uma instituição sem fins lucrativos que vai ajudar você mulher a viver o melhor espetáculo da sua vida ao se encontrar com a liberdade de se expressar.</h6>
        <br>
        <p>Encontre seu RISO bata na PORTA e deixe ele ENTRAR</p>
        <br><br>
        <button type="button" class="btn btn-outline-light btn-lg font-weight-bold">Fale Conosco</button>
      </div>
    </div>
    <header id="header" class="h-auto row d-flex justify-content-center pb-4">
    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="whatsapp"><i class="icofont-whatsapp"></i></a>
    </div>
    </header>
  </div>

</body>
</html>
