@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS arquivos -->
  <link rel="stylesheet" href="~/scripts/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/scripts/icofont/icofont.min.css">
  <link rel="stylesheet" href="~/scripts/remixicon/remixicon.css">
  <link rel="stylesheet" href="~/scripts/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="~/scripts/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="~/scripts/venobox/venobox.css">

  <!-- Template principal CSS  -->
  <link href="~/css/style.css" rel="stylesheet">

    <header id="header" class="header-tops">
    <div class="container">

      <h1 class="d-flex justify-content-start"><a href="index.html">MAIS APOIO</a></h1>

      <h2 class="d-flex justify-content-start"><span>Ligue 180</span></h2>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="whatsapp"><i class="icofont-whatsapp"></i></a>
        
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#sobre">Agressões</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="#portfolio">Mulher</a></li>
          <li><a href="#contact">Parceria</a></li>
          <li><a href="#contact">Contato</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- fim Header -->


  <script src="~/scripts/jquery/jquery.min.js"></script>
  <script src="~/scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/scripts/jquery.easing/jquery.easing.min.js"></script>
  <script src="~/scripts/waypoints/jquery.waypoints.min.js"></script>
  <script src="~/scripts/counterup/counterup.min.js"></script>
  <script src="~/scripts/owl.carousel/owl.carousel.min.js"></script>
  <script src="~/scripts/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/scripts/venobox/venobox.min.js"></script>

  <!-- Template  JS arquivos -->
  <script src="~/js/main.js"></script>
</div>
