@{
    ViewData["Title"] = "Serviços";
}

<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Consulting Services">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Page-3.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>

 @*Referencias Footer  *@
<link rel="stylesheet" href="~/lib1/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="~/css1/Página-Inicial.css" />


    <meta name="generator" content="Nicepage 4.2.22, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    	
</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 3">
    <meta property="og:type" content="website">
  </head>

  <div class="text-white">
  
  <p class="h2">Os princípios estruturantes desse projeto são:</p> 

   <a class="btn-link text-white" href="http://www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm">Constituição da República Federativa Do Brasil de 1988</a>
  <br>

   <a class="btn-link text-white" href="http://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm">Lei 11.340/06 (Lei Maria da Penha)</a>
    <br>
   <a class="btn-link text-white" href="https://www.institutomariadapenha.org.br">Instituto Maria da Penha</a> 
<hr>
</div>

  <body data-home-page="https://website1215717.nicepage.io/Page-3.html?version=3fce41f8-f23b-467f-b047-e3d27e33786f" data-home-page-title="Page 3" class="u-body"><header class="u-clearfix u-header u-header" id="sec-b2e5"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-nav-container">
            </header> 
    <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1" id="sec-57ce">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-custom-font u-font-ubuntu u-text u-text-1">Nossos Serviços</h1>
        <p class="u-text u-text-2">A Mulher Presente foi criada com o intuito de amparar todas as mulheres vitimas de qualquer tipo de agressão. 
        </p>
                                              <p>Conheça abaixo mais sobre os nossos serviços</p> 
        <div class="u-clearfix u-disable-padding u-expanded-width u-gutter-26 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-border-1 u-border-white u-container-layout u-valign-middle u-container-layout-1"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-13 u-icon-1"><svg class="u-svg-link corsvg " preserveAspectRatio="xMidYMin slice" viewBox="0 0 264.355 264.355" style=""><use xlink:href="#svg-9ec9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 264.355 264.355" enable-background="new 0 0 264.355 264.355" id="svg-9ec9" class="u-svg-content"><g><path d="m259.081,76.652l-53.812-53.812c-3.407-3.407-7.936-5.283-12.754-5.283s-9.347,1.876-12.753,5.283l-12.646,12.645c-1.946,1.946-3.333,4.235-4.203,6.67l-59.168-10.593c-0.004-0.001-0.009-0.001-0.013-0.002-26.604-5.281-52.579,12.015-57.944,38.622l-2.729,13.537c-3.014,14.949 6.697,29.562 21.646,32.576 14.95,3.012 29.563-6.697 32.577-21.646l1.668-8.278 26.533,2.32 69.29,69.29 12.558,12.558c2.543,2.543 2.542,6.681 0,9.224-2.542,2.542-6.68,2.543-9.223,0l-33.639-33.639c-2.343-2.343-6.143-2.343-8.485,0-2.343,2.343-2.343,6.142 0,8.485l33.639,33.639c1.232,1.232 1.91,2.87 1.91,4.612 0,1.742-0.678,3.379-1.91,4.611-2.544,2.543-6.681,2.542-9.223,0l-33.639-33.639c-2.343-2.343-6.143-2.343-8.485,0-2.343,2.343-2.343,6.142 0,8.485l33.639,33.639c2.543,2.542 2.543,6.68 0,9.223-1.232,1.232-2.87,1.91-4.611,1.91-1.742,0-3.38-0.678-4.612-1.91l-33.639-33.639c-2.343-2.343-6.143-2.343-8.485,0-2.343,2.343-2.343,6.142 0,8.485l33.639,33.639c2.543,2.543 2.542,6.681 0,9.224-2.542,2.542-6.68,2.543-9.223,0l-119.023-119.021-15.718-15.718c-2.343-2.343-6.143-2.343-8.485,0-2.343,2.343-2.343,6.142 0,8.485l15.718,15.718 17.105,17.105-9.429,9.429c-3.087,3.087-4.788,7.192-4.788,11.559 0,4.367 1.7,8.472 4.788,11.559l3.077,3.077c2.699,2.699 6.176,4.337 9.925,4.707 0.37,3.749 2.008,7.226 4.707,9.924l3.077,3.078c2.771,2.771 6.298,4.334 9.923,4.695 0.367,3.753 2.007,7.235 4.709,9.936l3.077,3.077c2.699,2.699 6.176,4.337 9.925,4.707 0.37,3.749 2.008,7.226 4.707,9.925l3.077,3.077c3.187,3.187 7.373,4.78 11.559,4.78s8.372-1.593 11.559-4.78l9.429-9.429 22.595,22.595c3.499,3.499 8.15,5.425 13.097,5.425s9.599-1.927 13.097-5.425c3.314-3.314 5.196-7.667 5.387-12.321 4.655-0.191 9.007-2.073 12.322-5.387 3.416-3.416 5.195-7.845 5.38-12.329 4.483-0.185 8.913-1.964 12.328-5.379 3.416-3.416 5.195-7.845 5.38-12.329 4.484-0.185 8.914-1.964 12.329-5.38 7.222-7.222 7.222-18.972 0-26.194l-8.315-8.315 30.423-30.423 21.156-21.156c7.031-7.033 7.031-18.476-0.001-25.508zm-225.444,86.866c-1.695-1.695-1.695-4.452 0-6.147l8.842-8.842 9.224,9.224-8.842,8.842c-1.694,1.695-4.453,1.694-6.147,0l-3.077-3.077zm17.709,17.709c-1.695-1.695-1.695-4.452 0-6.146l8.842-8.842 9.224,9.224-8.841,8.842c-1.695,1.694-4.454,1.695-6.147,0l-3.078-3.078zm17.708,17.709c-0.821-0.821-1.273-1.913-1.273-3.073s0.452-2.252 1.273-3.073l8.842-8.842 9.223,9.223-8.842,8.842c-1.694,1.694-4.452,1.694-6.146,0l-3.077-3.077zm26.933,20.786c-1.694,1.695-4.453,1.694-6.147,0l-3.077-3.077c-1.695-1.695-1.695-4.452 0-6.147l8.842-8.842 9.224,9.224-8.842,8.842zm103.029-74.469l-66.592-66.592c-0.998-0.998-2.314-1.612-3.72-1.734l-34.053-2.977c-0.177-0.016-0.353-0.023-0.527-0.023-2.829,0-5.308,1.995-5.877,4.815l-2.729,13.537c-1.706,8.462-9.974,13.958-18.442,12.253-4.099-0.826-7.632-3.2-9.946-6.683-2.314-3.483-3.134-7.659-2.307-11.759l2.729-13.536c4.066-20.169 23.774-33.275 43.951-29.204 0.042,0.008 0.085,0.017 0.128,0.024l58.306,10.439 7.179,7.179 58.081,58.081-26.181,26.18zm51.579-51.579l-16.914,16.914-58.081-58.081c-1.14-1.14-1.768-2.656-1.768-4.269s0.628-3.128 1.768-4.269l12.646-12.646c1.14-1.14 2.656-1.768 4.268-1.768s3.128,0.628 4.269,1.768l53.812,53.812c1.14,1.14 1.768,2.656 1.768,4.269s-0.628,3.13-1.768,4.27z"></path><circle cx="236.071" cy="91.787" r="6"></circle>
</g></svg></span>
                      <h4 class="u-text u-text-white u-text-3">ATENDIMENTO AMIGÁVEL AO CLIENTE </h4>
                      <p class="u-text u-text-font u-text-white u-text-4">Acompanhamos você, desde o inicio até o fim sempre levando a melhor solução disponível.</p>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                    <div class="u-border-1 u-border-white u-container-layout u-valign-middle u-container-layout-2"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-13 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-21bd"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-21bd" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><path d="M449.596,121.778c0.355,0.04,0.709,0.059,1.062,0.059c2.529,0,4.975-1.002,6.785-2.811l51.746-51.745    c2.632-2.633,3.505-6.551,2.237-10.053c-1.268-3.502-4.447-5.954-8.155-6.291L464.58,47.42l-3.519-38.691    c-0.336-3.708-2.789-6.887-6.29-8.154c-3.502-1.268-7.42-0.396-10.054,2.237l-51.746,51.746c-2.061,2.061-3.075,4.949-2.752,7.847    l4.58,41.223l-9.69,9.69c-35.788-32.737-82.728-53.464-134.382-55.76V39.335c0-5.3-4.297-9.597-9.597-9.597    c-5.3,0-9.597,4.297-9.597,9.597v18.22c-110.125,4.896-198.819,93.59-203.716,203.716H9.597c-5.3,0-9.597,4.297-9.597,9.597    c0,5.3,4.297,9.597,9.597,9.597h18.22c4.897,110.126,93.591,198.819,203.716,203.716v18.22c0,5.3,4.297,9.597,9.597,9.597    c5.3,0,9.597-4.297,9.597-9.597v-18.22c110.125-4.896,198.819-93.59,203.716-203.716h18.22c5.3,0,9.597-4.297,9.597-9.597    c0-5.3-4.297-9.597-9.597-9.597h-18.22c-2.296-51.654-23.023-98.594-55.759-134.384l9.69-9.69L449.596,121.778z M443.802,30.873    l2.387,26.25c0.42,4.614,4.074,8.269,8.688,8.689l26.25,2.386l-33.996,33.995l-33.592-3.732l-3.732-33.592L443.802,30.873z     M435.236,261.271h-13.521c-5.3,0-9.597,4.297-9.597,9.597c0,5.3,4.297,9.597,9.597,9.597h13.521    c-4.865,99.542-84.967,179.644-184.508,184.508v-13.52c0-5.3-4.297-9.597-9.597-9.597c-5.3,0-9.597,4.297-9.597,9.597v13.52    C131.992,460.11,51.89,380.006,47.025,280.466h13.521c5.3,0,9.597-4.297,9.597-9.597c0-5.3-4.297-9.597-9.597-9.597H47.025    c4.865-99.54,84.967-179.644,184.508-184.508v13.52c0,5.3,4.297,9.597,9.597,9.597c5.3,0,9.597-4.297,9.597-9.597v-13.52    c46.366,2.266,88.513,20.855,120.805,50.13l-28.878,28.878c-27.083-23.919-62.635-38.459-101.525-38.459    c-84.671,0-153.556,68.884-153.556,153.556s68.885,153.556,153.556,153.556s153.556-68.884,153.556-153.556    c0-38.889-14.54-74.441-38.457-101.526l28.878-28.878C414.382,172.758,432.97,214.906,435.236,261.271z M234.344,277.655    c1.875,1.874,4.33,2.811,6.786,2.811s4.913-0.937,6.786-2.811l52.12-52.12c9.688,12.56,15.472,28.281,15.472,45.334    c0,41.013-33.366,74.379-74.379,74.379s-74.379-33.366-74.379-74.379s33.366-74.379,74.379-74.379    c17.053,0,32.773,5.784,45.334,15.472l-52.12,52.12C230.597,267.831,230.597,273.907,234.344,277.655z M241.131,177.297    c-51.597,0-93.573,41.977-93.573,93.573s41.976,93.573,93.573,93.573c51.597,0,93.573-41.977,93.573-93.573    c0-22.348-7.885-42.884-21.006-58.994l28.942-28.942c20.457,23.583,32.853,54.338,32.853,87.935    c0,74.087-60.274,134.361-134.361,134.361s-134.361-60.274-134.361-134.361s60.274-134.362,134.361-134.362    c33.596,0,64.353,12.396,87.936,32.853l-28.942,28.943C284.015,185.182,263.48,177.297,241.131,177.297z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                      <h4 class="u-align-center u-text u-text-white u-text-5">FOCO &amp; PRECISÃO </h4>
                      <p class="u-align-center u-text u-text-font u-text-white u-text-6">Vamos direto a causa do problema sem enrolaçoes. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-center u-container-style u-image u-layout-cell u-size-60 u-image-1">
                    <div class="u-container-layout u-valign-bottom u-container-layout-3">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                    <div class="u-border-1 u-border-white u-container-layout u-valign-middle u-container-layout-4"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-13 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 480 480" style=""><use xlink:href="#svg-e0ab"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-e0ab" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve" class="u-svg-content"><g><g><path d="M376,136C376,61.008,314.992,0,240,0S104,61.008,104,136c0,39.56,17.496,77.12,47.272,102.84    C146.8,243.208,144,249.272,144,256c0,6.168,2.408,11.744,6.24,16c-3.84,4.256-6.24,9.832-6.24,16c0,6.168,2.408,11.744,6.24,16    c-3.84,4.256-6.24,9.832-6.24,16c0,10.416,6.712,19.216,16,22.528V400c0,2.152,0.88,4.16,2.36,5.64l-0.016,0.016l72,72    c1.56,1.56,3.608,2.344,5.656,2.344c2.048,0,4.096-0.784,5.656-2.344l72-72l-0.016-0.016c1.48-1.48,2.36-3.488,2.36-5.64v-57.472    c9.288-3.312,16-12.112,16-22.528c0-6.168-2.408-11.744-6.24-16c3.84-4.256,6.24-9.832,6.24-16c0-6.168-2.408-11.744-6.24-16    c3.84-4.256,6.24-9.832,6.24-16c0-6.728-2.8-12.792-7.272-17.16C358.504,213.12,376,175.56,376,136z M240,460.688L227.312,448    h25.376L240,460.688z M268.688,432h-57.376l-30.752-30.76l11.44-7.624l19.56,13.04c2.688,1.792,6.184,1.792,8.872,0L240,393.616    l19.56,13.04c2.688,1.792,6.184,1.792,8.872,0L288,393.616l11.44,7.632L268.688,432z M304,385.048l-11.56-7.704    c-2.688-1.792-6.184-1.792-8.872,0L264,390.384l-19.56-13.04c-2.688-1.792-6.184-1.792-8.872,0L216,390.384l-19.56-13.04    c-2.688-1.792-6.184-1.792-8.872,0L176,385.048V344h128V385.048z M312,328H168c-4.408,0-8-3.592-8-8c0-4.408,3.592-8,8-8h144    c4.408,0,8,3.592,8,8C320,324.408,316.408,328,312,328z M312,296H168c-4.408,0-8-3.592-8-8c0-4.408,3.592-8,8-8h144    c4.408,0,8,3.592,8,8C320,292.408,316.408,296,312,296z M312,264H168c-4.408,0-8-3.592-8-8c0-4.408,3.592-8,8-8h143.968    l0.096,0.016C316.44,248.048,320,251.608,320,256C320,260.408,316.408,264,312,264z M214.976,143.016    c1.464,1.184,3.248,1.776,5.024,1.776s3.56-0.592,5.024-1.776C234.544,135.336,240,124.024,240,112    c0-1.848-0.176-3.672-0.424-5.48c-0.072-0.52-0.168-1.024-0.264-1.544c-0.248-1.376-0.568-2.736-0.968-4.072    c-0.128-0.448-0.24-0.896-0.384-1.336c-0.568-1.704-1.232-3.368-2.024-4.976c-0.144-0.288-0.32-0.56-0.472-0.856    c-0.696-1.336-1.48-2.632-2.328-3.88c-0.144-0.216-0.248-0.456-0.4-0.672c4.68-1.552,9.864-1.552,14.544,0    c-0.152,0.216-0.256,0.456-0.4,0.672c-0.848,1.256-1.624,2.544-2.328,3.88c-0.152,0.288-0.328,0.56-0.472,0.856    c-0.792,1.608-1.464,3.28-2.024,4.976c-0.144,0.44-0.256,0.888-0.384,1.336c-0.392,1.336-0.712,2.696-0.968,4.072    c-0.096,0.512-0.192,1.024-0.264,1.544c-0.264,1.808-0.44,3.632-0.44,5.48c0,12.024,5.456,23.336,14.976,31.016    c1.464,1.184,3.248,1.776,5.024,1.776s3.56-0.592,5.024-1.776C274.544,135.336,280,124.024,280,112    c0-1.848-0.176-3.672-0.424-5.48c-0.072-0.52-0.168-1.024-0.264-1.544c-0.248-1.376-0.568-2.736-0.968-4.072    c-0.128-0.448-0.24-0.896-0.392-1.336c-0.568-1.704-1.232-3.368-2.024-4.976c-0.144-0.304-0.328-0.584-0.488-0.88    c-0.688-1.32-1.456-2.592-2.288-3.832c-0.152-0.232-0.264-0.48-0.424-0.704C275.072,88.4,277.504,88,280,88    c12.784,0,24,12.024,24,25.744c0,11.76-5.184,22.832-14.224,30.36l-30.896,25.752c-1.824,1.52-2.88,3.768-2.88,6.144v56h-32v-56    c0-2.376-1.056-4.624-2.88-6.144l-30.896-25.752c-9.04-7.536-14.224-18.6-14.224-30.36C176,100.024,187.216,88,200,88    c2.488,0,4.928,0.4,7.264,1.176c-0.16,0.224-0.272,0.48-0.424,0.704c-0.84,1.24-1.6,2.512-2.288,3.832    c-0.152,0.296-0.336,0.576-0.488,0.88c-0.792,1.608-1.456,3.272-2.024,4.976c-0.144,0.44-0.256,0.896-0.392,1.336    c-0.392,1.336-0.712,2.696-0.968,4.072c-0.096,0.512-0.192,1.024-0.264,1.544c-0.24,1.808-0.416,3.632-0.416,5.48    C200,124.024,205.456,135.336,214.976,143.016z M216,112c0-1.592,0.224-3.152,0.536-4.688c0.08-0.368,0.16-0.744,0.256-1.104    c0.384-1.496,0.872-2.968,1.544-4.368c0.056-0.104,0.12-0.208,0.176-0.312c0.416-0.824,0.976-1.576,1.488-2.352    c0.512,0.776,1.072,1.528,1.488,2.352c0.048,0.104,0.12,0.2,0.176,0.304c0.672,1.392,1.16,2.864,1.544,4.368    c0.096,0.368,0.176,0.736,0.256,1.104c0.312,1.544,0.536,3.104,0.536,4.696s-0.224,3.152-0.536,4.688    c-0.08,0.368-0.16,0.744-0.256,1.104c-0.384,1.496-0.872,2.968-1.544,4.368c-0.048,0.104-0.12,0.208-0.176,0.312    c-0.416,0.824-0.976,1.576-1.488,2.352c-0.512-0.776-1.072-1.528-1.488-2.352c-0.056-0.104-0.128-0.208-0.176-0.312    c-0.672-1.4-1.16-2.872-1.544-4.368c-0.096-0.368-0.176-0.736-0.256-1.104C216.224,115.152,216,113.592,216,112z M256,112    c0-1.592,0.224-3.152,0.536-4.688c0.08-0.368,0.16-0.744,0.256-1.104c0.384-1.496,0.872-2.968,1.544-4.368    c0.056-0.104,0.12-0.208,0.176-0.312c0.416-0.824,0.976-1.576,1.488-2.352c0.512,0.776,1.072,1.528,1.488,2.352    c0.048,0.104,0.12,0.2,0.176,0.304c0.672,1.392,1.16,2.864,1.544,4.368c0.096,0.368,0.176,0.736,0.256,1.104    c0.312,1.544,0.536,3.104,0.536,4.696s-0.224,3.152-0.536,4.688c-0.08,0.368-0.16,0.744-0.256,1.104    c-0.384,1.496-0.872,2.968-1.544,4.368c-0.048,0.104-0.12,0.208-0.176,0.312c-0.416,0.824-0.976,1.576-1.488,2.352    c-0.512-0.776-1.072-1.528-1.488-2.352c-0.056-0.104-0.128-0.208-0.176-0.312c-0.672-1.4-1.16-2.872-1.544-4.368    c-0.096-0.368-0.176-0.736-0.256-1.104C256.224,115.152,256,113.592,256,112z M311.824,232H272v-52.256l28.016-23.352    C312.72,145.816,320,130.264,320,113.744C320,91.12,301.68,72,280,72c-7.104,0-13.912,1.952-20.024,5.576    c-12.312-7.136-27.624-7.136-39.944,0C213.912,73.952,207.104,72,200,72c-21.68,0-40,19.12-40,41.744    c0,16.52,7.28,32.072,19.984,42.656L208,179.744V232h-39.824C137.96,209.344,120,173.68,120,136c0-66.168,53.832-120,120-120    s120,53.832,120,120C360,173.68,342.04,209.344,311.824,232z"></path>
</g>
</g><g><g><rect x="361.368" y="16.013" transform="matrix(0.7071 -0.7071 0.7071 0.7071 95.4905 278.5592)" width="45.256" height="16"></rect>
</g>
</g><g><g><rect x="375.986" y="225.358" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -62.8857 344.1524)" width="16" height="45.256"></rect>
</g>
</g><g><g><rect x="400" y="128" width="48" height="16"></rect>
</g>
</g><g><g><rect x="88.002" y="1.376" transform="matrix(0.7071 -0.7071 0.7071 0.7071 11.1452 74.9142)" width="16" height="45.256"></rect>
</g>
</g><g><g><rect x="73.373" y="239.996" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -147.2421 140.5192)" width="45.256" height="16"></rect>
</g>
</g><g><g><rect x="32" y="128" width="48" height="16"></rect>
</g>
</g><g><g><rect x="336" y="384" width="16" height="16"></rect>
</g>
</g><g><g><rect x="368" y="384" width="16" height="16"></rect>
</g>
</g><g><g><rect x="400" y="384" width="16" height="16"></rect>
</g>
</g><g><g><rect x="64" y="384" width="16" height="16"></rect>
</g>
</g><g><g><rect x="96" y="384" width="16" height="16"></rect>
</g>
</g><g><g><rect x="128" y="384" width="16" height="16"></rect>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                      <h4 class="u-text u-text-white u-text-8">IDEIAS E &amp; SOLUÇOES  </h4>
                      <p class="u-text u-text-font u-text-white u-text-9">Tenha as melhores ideias e soluçoes disponiveis sobre a sua causa.</p>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-5">
                    <div class="u-border-1 u-border-white u-container-layout u-valign-middle u-container-layout-5"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-13 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.001 512.001" style=""><use xlink:href="#svg-71e3"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-71e3" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve" class="u-svg-content"><g><g><path d="M400.003,152H256.001c-5.523,0-10,4.477-10,10s4.477,10,10,10h144.002c5.523,0,10-4.477,10-10S405.526,152,400.003,152z"></path>
</g>
</g><g><g><path d="M365.011,202.931c-1.86-1.86-4.44-2.93-7.07-2.93s-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07    s1.07,5.21,2.93,7.07s4.44,2.93,7.07,2.93s5.21-1.07,7.07-2.93c1.86-1.86,2.93-4.44,2.93-7.07S366.871,204.791,365.011,202.931z"></path>
</g>
</g><g><g><path d="M263.061,45.931c-1.86-1.86-4.44-2.93-7.07-2.93s-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07    s1.07,5.21,2.93,7.07c1.86,1.86,4.44,2.93,7.07,2.93s5.21-1.07,7.07-2.93c1.86-1.86,2.93-4.44,2.93-7.07    S264.921,47.791,263.061,45.931z"></path>
</g>
</g><g><g><path d="M315.878,200h-59.877c-5.523,0-10,4.477-10,10s4.477,10,10,10h59.877c5.523,0,10-4.477,10-10S321.401,200,315.878,200z"></path>
</g>
</g><g><g><path d="M400.003,260H256.001c-5.523,0-10,4.477-10,10s4.477,10,10,10h144.002c5.523,0,10-4.477,10-10S405.526,260,400.003,260z"></path>
</g>
</g><g><g><path d="M365.011,310.931c-1.86-1.86-4.44-2.93-7.07-2.93s-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07    s1.07,5.21,2.93,7.07s4.44,2.93,7.07,2.93s5.21-1.07,7.07-2.93c1.86-1.86,2.93-4.44,2.93-7.07S366.871,312.791,365.011,310.931z"></path>
</g>
</g><g><g><path d="M315.878,308h-59.877c-5.523,0-10,4.477-10,10s4.477,10,10,10h59.877c5.523,0,10-4.477,10-10S321.401,308,315.878,308z"></path>
</g>
</g><g><g><path d="M400.003,368H256.001c-5.523,0-10,4.477-10,10s4.477,10,10,10h144.002c5.523,0,10-4.477,10-10S405.526,368,400.003,368z"></path>
</g>
</g><g><g><path d="M365.011,418.931c-1.86-1.86-4.44-2.93-7.07-2.93s-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07    s1.07,5.21,2.93,7.07s4.44,2.93,7.07,2.93s5.21-1.07,7.07-2.93c1.86-1.86,2.93-4.44,2.93-7.07S366.871,420.791,365.011,418.931z"></path>
</g>
</g><g><g><path d="M315.878,416h-59.877c-5.523,0-10,4.477-10,10s4.477,10,10,10h59.877c5.523,0,10-4.477,10-10S321.401,416,315.878,416z"></path>
</g>
</g><g><g><path d="M419.243,39.001h-76.379C331.823,28.48,316.898,22,300.479,22h-8.76C285.022,8.742,271.263,0,256,0    s-29.021,8.742-35.719,22H211.5c-16.419,0-31.343,6.48-42.384,17.001H92.759c-26.885,0-48.758,21.873-48.758,48.758v375.484    c0,26.885,21.873,48.758,48.758,48.758h326.483c26.885,0,48.758-21.873,48.758-48.758V87.759    C468.001,60.874,446.128,39.001,419.243,39.001z M211.501,42h15.586c4.498,0,8.442-3.003,9.639-7.338    C239.111,26.029,247.037,20,256.001,20c8.964,0,16.89,6.029,19.274,14.662c1.197,4.335,5.142,7.338,9.639,7.338h15.565    c21.705,0,39.571,16.75,41.354,38.001H170.147C171.93,58.75,189.797,42,211.501,42z M448.001,463.244    c0,15.857-12.901,28.758-28.758,28.758H92.759c-15.857,0-28.758-12.901-28.758-28.758V87.759    c0-15.857,12.901-28.758,28.758-28.758h62.347c-3.276,7.512-5.105,15.794-5.105,24.5v6.5c0,5.523,4.477,10,10,10H351.98    c5.523,0,10-4.477,10-10v-6.5c0-8.705-1.829-16.988-5.105-24.5h62.368c15.857,0,28.758,12.901,28.758,28.758V463.244z"></path>
</g>
</g><g><g><path d="M192.41,149.596c-3.905-3.905-10.237-3.905-14.142-0.001l-42.762,42.763l-13.173-13.174    c-3.905-3.904-10.237-3.904-14.143,0c-3.905,3.905-3.905,10.237,0,14.143l20.245,20.245c1.953,1.953,4.512,2.929,7.071,2.929    c2.559,0,5.119-0.976,7.071-2.929l49.833-49.833C196.315,159.834,196.315,153.502,192.41,149.596z"></path>
</g>
</g><g><g><path d="M168.001,368h-48c-5.523,0-10,4.477-10,10v48c0,5.523,4.477,10,10,10h48c5.523,0,10-4.477,10-10v-48    C178.001,372.477,173.524,368,168.001,368z M158.001,416h-28v-28h28V416z"></path>
</g>
</g><g><g><path d="M168.001,260h-48c-5.523,0-10,4.477-10,10v48c0,5.523,4.477,10,10,10h48c5.523,0,10-4.477,10-10v-48    C178.001,264.477,173.524,260,168.001,260z M158.001,308h-28v-28h28V308z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                      <h4 class="u-align-center u-text u-text-white u-text-10">FORTALECER AS OPERAÇÕES </h4>
                      <p class="u-align-center u-text u-text-font u-text-white u-text-11">Entendemos que cada situação é diferente, é por isso que cada caso terá um analista qualificado disponivel. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 
 
  </body>
</html>

<script src="~/js1/jquery.js"></script>
     <script src="~/js1/nicepage.js"></script>
    <script src="~/lib1/jquery/dist/jquery.min.js"></script>
    <script src="~/lib1/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js1/site.js" asp-append-version="true"></script>
