@{
    ViewData["Title"] = "Agressões";
}
<h1>@ViewData["Title"]</h1>



<div class="text-center">
    
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

    <!-- Vendor CSS arquivos -->
    <link rel="stylesheet" href="~/scripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/scripts/icofont/icofont.min.css">
    <link rel="stylesheet" href="~/scripts/remixicon/remixicon.css">
    <link rel="stylesheet" href="~/scripts/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/scripts/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="~/scripts/venobox/venobox.css">

    <!-- Template principal CSS  -->
    <link href="~/css/style.css" rel="stylesheet">

    
    <section id="sobre" class="sobre containerBlack ">

    <div class="sobre container">

      <div class="section-title">
        <h2>Agressões</h2>

      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="https://images.pexels.com/photos/4059016/pexels-photo-4059016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>TIPOS DE VIOLÊNCIA</h3>
          <p class="font-italic">
            OMS diz que mulheres violentadas recorrem aos serviços de saúde em busca de ajuda.
            Além disso, afirmam que com muita frequência, instituições de saúde demoram a reconhecer e lidar com esse
            tipo de violência..
          </p>
          <hr>

          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Violência psicológica</strong></li>
                <li><i class="icofont-rounded-right"></i> <strong> Violência física</strong></li>
                <li><i class="icofont-rounded-right"></i> <strong>Feminicídio</strong></li>
                <li><i class="icofont-rounded-right"></i> <strong>Violência sexual</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Violência doméstica</strong></li>

              </ul>
            </div>
          </div>
          <p>
            Um relatório da OMS, que mapeou a violência contra a mulher de 2011 a 2015 em 133 países, indicou que uma em
            cada três mulheres já sofreu violência física e/ou sexual por parte de seus parceiros. O relarório revelou,
            ainda, que 7% das mulheres sofreram violência sexual por desconhecidos. Além disso, 50% se envolveram em um
            embate físico com seus companheiros.
            Com esse relatório, a OMS busca determinar a violência contra a mulher como um problema de saúde pública.
          </p>
        </div>
      </div>

    </div>


   
    <div class="testimonials container">

      <div class="section-title">
        <h2>RELATOS</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
           Sofri minha primeira agressão aos 14 anos de idade com meu ex namorado.
           Sofro com os traumas até hoje por conta das pancadas.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src=https://images.pexels.com/photos/8421129/pexels-photo-8421129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="testimonial-img" alt="">
          <h3>Vitória Souza</h3>
          <h4>19 anos</h4>
          
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Perdi minha primeira filha por conta da agressão do meu ex-marido.
            Tive a sorte de ir a justiça para me defender dele e graças a Deus hoje eu estou ótima.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://images.pexels.com/photos/6003787/pexels-photo-6003787.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="testimonial-img" alt="">
          <h3>Ana Maria</h3>
          <h4>38 anos</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Já fui humilhada na delegacia por denuciar uma agressão do meu ex-marido, 
            tem pessoas que não entendem a dor de uma mulher, por isso que o machismo cresce cada vez mais.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://images.pexels.com/photos/6029053/pexels-photo-6029053.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="testimonial-img" alt="">
          <h3>Luíza Senna</h3>
          <h4>28 anos</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Tem que erguer a cabeça e ir em frente. Começar e terminar. Porque muitas fazem boletim de ocorrência e ficam com dó. 
            Eu fiz uns cinco boletins antes e sempre eu ficava com dó. Então eu pensava nele e ele não pensava em mim.
            
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://images.pexels.com/photos/8834088/pexels-photo-8834088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="testimonial-img" alt="">
          <h3>Meire Arruda</h3>
          <h4>42 anos</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Sou delegada da policia civil, quando eu vejo um caso de violência contra mulher,
            Sou a primeira a ficar no lado dela, estamos juntas para vencer esse machismo na nossa sociedade.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="https://images.pexels.com/photos/6105478/pexels-photo-6105478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="testimonial-img" alt="">
          <h3>Mamuella Nogueira</h3>
          <h4>37 anos</h4>
        </div>

      </div>

    </div>

  </section>
    
    
    <script src="~/scripts/jquery/jjquery.min.js"></script>
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <script src="~/scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/scripts/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/scripts/counterup/counterup.min.js"></script>
    <script src="~/scripts/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/scripts/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/scripts/venobox/venobox.min.js"></script>

    <!-- Template  JS arquivos -->
    <script src="~/js/main.js"></script>
</div>
